body{
    background-color: whitesmoke;
    color: rebeccapurple;
    font-size: 18px;
    font-family: Tahoma, sans-serif;
    line-height: 1.5rem;
    margin: 2em;

}


a{
    color: rebeccapurple;
}

h1{
    line-height: 1.2em;
}

th, td{
    border-radius: 6px;
    padding: .5em;
}

th{
    background: rebeccapurple;
    color: whitesmoke;
    
}

td{
    border: thin solid rebeccapurple;

}