body {
  padding: 2rem;
}

.Ejercicio {
  background-color: rgb(226, 226, 226);
  padding: 1rem;
}

.HalfPage-section {
  display: flex;
}

.listItem {
  border-left: medium solid black;
  margin: 1rem;
  padding: 0 0.5rem;
}
